/* Feature v2 styles */
/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  /* More reset styles */
  /* Body, typography, and component styling */
  body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1.125rem; /* 18px */
    line-height: 1.4;
  }
  /* More body, typography, and component styling */
  /* Feature v2 specific styling */

.feature-v2 {
        background-color: hsl(230, 25%, 95%);
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  .feature-v2__label {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.9375rem;
    color: hsl(240, 4%, 65%);
    text-transform: capitalize;
    margin-bottom: 1.5rem;
  }
  /* More feature v2 specific styling */
  